<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>03_ui_virus_1way.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,552},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{88,88}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>03_ui_virus_2way.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,641},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{88,88}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>03_ui_virus_3way.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,463},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{88,88}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>04_ui_virus_1way.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,552},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{88,88}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>04_ui_virus_2way.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,552},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{88,88}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>04_ui_virus_3way.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,463},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{88,88}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>e_ui_virus_1way.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,819},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{88,88}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>e_ui_virus_2way.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,730},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{88,88}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>e_ui_virus_3way.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,641},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{88,88}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>ttr_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,1},{120,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{120,82}}</string>
                <key>sourceSize</key>
                <string>{122,92}</string>
            </dict>
            <key>ttr_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,544},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{72,72}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>ui_bt_hints.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,160},{102,102}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{102,102}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>ui_bt_hints_flash.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{116,116}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>ui_bt_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,454},{80,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,78}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>ui_done_bt_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,974},{110,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{110,38}}</string>
                <key>sourceSize</key>
                <string>{114,42}</string>
            </dict>
            <key>ui_done_bt_next.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,505},{110,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{110,38}}</string>
                <key>sourceSize</key>
                <string>{114,42}</string>
            </dict>
            <key>ui_done_bt_retry.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,689},{110,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{110,38}}</string>
                <key>sourceSize</key>
                <string>{114,42}</string>
            </dict>
            <key>ui_done_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,487},{484,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{484,272}}</string>
                <key>sourceSize</key>
                <string>{488,276}</string>
            </dict>
            <key>ui_done_star_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,974},{46,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{46,46}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>ui_hint_bt_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,974},{166,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{166,38}}</string>
                <key>sourceSize</key>
                <string>{170,42}</string>
            </dict>
            <key>ui_hint_bt_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,974},{166,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{166,38}}</string>
                <key>sourceSize</key>
                <string>{170,42}</string>
            </dict>
            <key>ui_hint_bt_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,974},{110,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{110,38}}</string>
                <key>sourceSize</key>
                <string>{114,42}</string>
            </dict>
            <key>ui_hint_bt_yes.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,118},{110,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{110,38}}</string>
                <key>sourceSize</key>
                <string>{114,42}</string>
            </dict>
            <key>ui_hint_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,160},{598,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{598,326}}</string>
                <key>sourceSize</key>
                <string>{602,330}</string>
            </dict>
            <key>ui_icon_credits.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,406},{98,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{98,98}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>ui_icon_exitlvl.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,355},{98,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{98,98}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>ui_icon_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,307},{98,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{98,98}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>ui_icon_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,259},{98,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{98,98}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>ui_icon_lab_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,160},{98,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{98,98}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>ui_icon_lab_04_pro.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,364},{98,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{98,98}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>ui_icon_lab_essential.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,256},{98,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{98,98}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>ui_icon_lab_experiment.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,208},{98,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{98,98}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>ui_icon_options.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,588},{100,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>ui_icon_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,263},{100,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>ui_icon_replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,109},{98,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{98,98}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>ui_icon_resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,909},{98,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{98,98}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>ui_icon_sounds_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,157},{98,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{98,98}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>ui_icon_sounds_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,909},{98,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{98,98}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>ui_icon_store.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,487},{100,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>ui_lab_pro.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,84},{124,24}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{124,24}}</string>
                <key>sourceSize</key>
                <string>{124,26}</string>
            </dict>
            <key>ui_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,617},{64,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{64,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ui_lvl_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,979},{34,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{34,28}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>ui_lvl_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,109},{8,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{8,28}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>ui_lvl_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,892},{36,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>ui_lvl_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,730},{36,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>ui_lvl_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,730},{36,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>ui_lvl_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,863},{36,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>ui_lvl_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,728},{36,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>ui_lvl_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,728},{36,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>ui_lvl_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,950},{34,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{34,28}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>ui_lvl_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,921},{34,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{34,28}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>ui_lvl_bt_arrow_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,828},{52,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{52,60}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>ui_lvl_bt_arrow_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,767},{52,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{52,60}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>ui_lvl_bt_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,641},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{86,86}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>ui_lvl_icon_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,767},{54,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{54,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>ui_lvl_icon_unlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,684},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>ui_lvl_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,728},{112,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{112,28}}</string>
                <key>sourceSize</key>
                <string>{114,30}</string>
            </dict>
            <key>ui_lvl_scroll.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,1},{10,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,82}}</string>
                <key>sourceSize</key>
                <string>{10,82}</string>
            </dict>
            <key>ui_lvl_slot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,909},{620,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{620,64}}</string>
                <key>sourceSize</key>
                <string>{622,66}</string>
            </dict>
            <key>ui_lvl_star_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,822},{42,40}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{42,40}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>ui_lvl_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{770,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{770,158}}</string>
                <key>sourceSize</key>
                <string>{770,158}</string>
            </dict>
            <key>ui_top_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,760},{770,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{770,148}}</string>
                <key>sourceSize</key>
                <string>{770,148}</string>
            </dict>
            <key>ui_toppanel_pro.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,722},{74,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{74,44}}</string>
                <key>sourceSize</key>
                <string>{78,46}</string>
            </dict>
            <key>ui_virus_1way.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,633},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{88,88}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>ui_virus_2way.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,544},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{88,88}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>ui_virus_3way.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,908},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{88,88}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d49efdb51481ea5703599b42b0f2e271$</string>
            <key>textureFileName</key>
            <string>ui1.png</string>
        </dict>
    </dict>
</plist>
