<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>moregame_ad01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,296},{530,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,294}}</string>
                <key>sourceSize</key>
                <string>{530,294}</string>
            </dict>
            <key>moregame_ad02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{530,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,294}}</string>
                <key>sourceSize</key>
                <string>{530,294}</string>
            </dict>
            <key>store_buy_bt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,979},{110,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{110,38}}</string>
                <key>sourceSize</key>
                <string>{114,42}</string>
            </dict>
            <key>store_hintspack.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,429},{530,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,254}}</string>
                <key>sourceSize</key>
                <string>{530,254}</string>
            </dict>
            <key>ui_frame_lab.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,1},{484,144}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{484,144}}</string>
                <key>sourceSize</key>
                <string>{490,150}</string>
            </dict>
            <key>ui_frame_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,146},{388,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{388,144}}</string>
                <key>sourceSize</key>
                <string>{394,150}</string>
            </dict>
            <key>ui_icon_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,443},{98,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{98,98}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>ui_icon_lab_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,542},{98,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{98,98}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>ui_icon_lab_03_pro.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,606},{98,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{98,98}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>ui_icon_lab_essential_pro.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,245},{98,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{98,100}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>ui_icon_lab_experiment_pro.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,146},{98,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{98,100}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>ui_icon_restore.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,344},{98,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{98,98}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>ui_lab_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,960},{94,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{94,60}}</string>
                <key>sourceSize</key>
                <string>{98,62}</string>
            </dict>
            <key>ui_pg_fb.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,360},{314,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{314,68}}</string>
                <key>sourceSize</key>
                <string>{318,70}</string>
            </dict>
            <key>ui_pg_gamecntr.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,291},{314,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{314,68}}</string>
                <key>sourceSize</key>
                <string>{318,70}</string>
            </dict>
            <key>ui_pg_mrgame.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,291},{314,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{314,68}}</string>
                <key>sourceSize</key>
                <string>{318,70}</string>
            </dict>
            <key>ui_store_hints.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,882},{528,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,96}}</string>
                <key>sourceSize</key>
                <string>{530,96}</string>
            </dict>
            <key>ui_store_lab01_pro.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,785},{528,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,96}}</string>
                <key>sourceSize</key>
                <string>{530,96}</string>
            </dict>
            <key>ui_store_lab02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,591},{528,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,96}}</string>
                <key>sourceSize</key>
                <string>{530,96}</string>
            </dict>
            <key>ui_store_lab02_pro.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,688},{528,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,96}}</string>
                <key>sourceSize</key>
                <string>{530,96}</string>
            </dict>
            <key>ui_store_purchased.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,641},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{74,74}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6d343d905d3eaddec40a24790a2a6c6$</string>
            <key>textureFileName</key>
            <string>ui2.png</string>
        </dict>
    </dict>
</plist>
