<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sporos_credits.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{470,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,512}}</string>
                <key>sourceSize</key>
                <string>{470,512}</string>
            </dict>
            <key>ui_buy_lab01pro.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,513},{530,402}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,402}}</string>
                <key>sourceSize</key>
                <string>{530,402}</string>
            </dict>
            <key>ui_buy_lab02.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,0},{530,402}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,402}}</string>
                <key>sourceSize</key>
                <string>{530,402}</string>
            </dict>
            <key>ui_endgame.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,403},{530,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,338}}</string>
                <key>sourceSize</key>
                <string>{530,338}</string>
            </dict>
            <key>ui_endgame_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,403},{110,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{110,38}}</string>
                <key>sourceSize</key>
                <string>{114,42}</string>
            </dict>
            <key>ui_endgame_wdone.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,934},{442,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{442,38}}</string>
                <key>sourceSize</key>
                <string>{446,38}</string>
            </dict>
            <key>ui_store_lab03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,916},{528,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,96}}</string>
                <key>sourceSize</key>
                <string>{530,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55ffaed91472997695ac9601ad3322a9$</string>
            <key>textureFileName</key>
            <string>ui3.png</string>
        </dict>
    </dict>
</plist>
